autopep8==1.5.5
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
cloudscraper==1.2.48
docutils==0.16
idna==2.10
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
lxml==4.6.2
Pillow==8.1.0
pycodestyle==2.6.0
Pygments==2.7.4
pyparsing==2.4.7
pypiwin32==223
pywin32==300
requests==2.25.0
requests-toolbelt==0.9.1
soupsieve==2.0.1
toml==0.10.2
urllib3==1.26.2
